.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;          
  column-gap: 20px;       
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  align-items: stretch;   
}

@media (max-width: 768px) {
  .popular-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .popular-grid {
    grid-template-columns: 1fr; 
  }
}