.home-page {
  font-family: 'Solitreo', cursive;
}

.menu-button-wrapper {
  text-align: center;
  margin: 2rem 0;
}

#menu-button {
  left: 50%;
  padding: 10px 20px;
  background-color: #1C924E;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
}

