.menu-container{
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
section {
  margin-bottom: 40px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin:0;
  text-shadow: rgb(163, 163, 163) 3px 3px 2px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 16px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 6px;
  
}

.category {
  text-shadow: rgb(163, 163, 163) 3px 3px 2px;
  font-size: 2.5rem;
}

.section-grid
{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.category-buttons-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.category-button {
  background-color: #1C924E;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .section-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .category-button {
    font-size: 1.1rem;
    padding: 5px 5px;
    margin: 5px;
  }
}
@media (max-width: 480px) {
  .section-grid {
    grid-template-columns: 1fr; 
  }
  h1 {
    font-size: 2rem;
  }

  h2, .category {
    font-size: 1.5rem;
  }

  .menu-container {
    padding: 10px;
  }

  .category-button {
    font-size: 0.9rem;
    padding: 5px 5px;
    margin: 5px;
  }
}